<div class="container py-5 h-100">
  <div class="row row-cols-2 d-flex align-items-stretch py-4 h-100">
    <div class="d-flex flex-column justify-content-between">
      <!-- introduce -->
      <div class="align-self-start">
        <p>Hi, I am</p>
        <h1>Supansa Tantulset</h1>
        <p>passionate about full stack development<br>and enjoys soving problems</p>
      </div>

      <!-- navigation section -->
      <app-navigator></app-navigator>

      <!-- contact section -->
      <app-contact></app-contact>
    </div>

    <!-- contents -->
    <div>

    </div>
  </div>
</div>
