<div class="container pt-5 pb-2 pb-lg-5 h-100">
  <div class="row row-cols-1 row-cols-lg-2 d-flex align-items-stretch pt-4 pb-2 pb-lg-4 h-100 content-container">
    <div class="d-flex flex-column justify-content-lg-between">
      <!-- introduce -->
      <div class="align-self-start">
        <p>Hi, I am</p>
        <h1>Supansa Tantulset</h1>
        <p>passionate about software development<br>and enjoys solving problems</p>
      </div>

      <!-- navigation section -->
      <app-navigator></app-navigator>

      <!-- contact section -->
      <app-contact></app-contact>
    </div>

    <!-- contents -->
    <div class="content">
      <!-- about me -->
      <h4 class="fw-bold d-lg-none mt-4" id="experience">About me</h4>
      <p class="text-r14" id="about-me">{{ aboutMe }}</p>

      <!-- experience -->
      <app-experience></app-experience>

      <!-- project -->
      <app-project></app-project>

      <!-- certificate -->
      <app-certificate></app-certificate>
    </div>
  </div>
</div>
