@import "../node_modules/bootstrap/scss/bootstrap";

* {
  font-family: 'Comfortaa', cursive;
}

body {
  background-image: url("/assets/images/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
